/*CSS file for aanbiedingen.html*/

.wrap {
  overflow: hidden;
  margin: 10px;
}

.box {
  float: left;
  position: relative;
  width: 33.333%;
  height: 33.333%;

}

.boxInner {
  position: relative;
  margin: 10px 10px 10px 10px;
  overflow: hidden;

}

.boxInner img {
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 18px;
}

.boxInner img:hover {
  opacity: 1.0;
}

.boxInner p {
  font-family: "Corben", Georgia, Times, serif;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  font-size: 200%;
  font-weight: bold;
}

.ts-link {
  display: block;
  position: absolute;
  height: 15%;
  right: 10%;
  left: 50%;
  bottom: 4%;
  font-size: 110%;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
  color: #454340;
  text-decoration: none;
  border-radius: 9px;
  background-color: #ffe900;
}

.ribbon {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 65%;
  margin: 0 0 0 -7px;
  padding: 10px 15px;
  font-family: kelson-webfont, arial, sans-serif;
  font-size: 70%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 131, 0, 1.0);
  line-height: 1.4;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: rotate(21deg);
  transform: rotate(21deg);

}

@media only screen and (max-width: 360px) {
  .box {
    width: 100%;
  }

  .boxInner p {
    font-size: 100%;
  }

  .ts-link {
    display: none;
  }

  .ribbon {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .box {
    width: 100%;
  }

  .boxInner p {
    font-size: 100%;
  }

  .ts-link {
    display: none;
  }

  .ribbon {
    width: 110%;
    bottom: 70%;
    left: 3%;
    font-size: 60%;
  }
}

@media only screen and (max-width: 650px) and (min-width: 480px) {
  .box {
    width: 100%;
  }

  .boxInner p {
    font-size: 100%;
  }

  .ts-link {
    font-size: 100%;
  }

  .ribbon {
    width: 110%;
    bottom: 70%;
    left: 10%;
    font-size: 60%;
  }

}

@media only screen and (max-width: 1050px) and (min-width: 650px) {
  .box {
    width: 50%;

  }

  .boxInner p {
    font-size: 120%;
  }

  .ts-link {
    font-size: 80%;
    line-height: 25px
  }

  .ribbon {
    width: 120%;
    bottom: 59%;
    font-size: 60%;
  }

}

@media only screen and (max-width: 1290px) and (min-width: 1050px) {
  .box {
    width: 33%;

  }

  .boxInner p {
    font-size: 150%;

  }

  .ts-link {
    font-size: 60%;
    line-height: 17px;
  }

  .ribbon {
    width: 110%;
    bottom: 60%;
    font-size: 60%;

  }
}

@media only screen and (max-width: 1500px) and (min-width: 1290px) {
  .box {
    width: 33%;

  }

  .boxInner p {
    font-size: 180%;
  }

  .ts-link {
    font-size: 80%;
    line-height: 22px;


  }

  .ribbon {
    width: 120%;
    bottom: 60%;
    left: 1%;
    font-size: 70%;
  }

}
