#ts-link {
  display: block;
  /*padding:5%;*/
  /*margin: auto;*/
  /*height: 5%;*/
  font-size: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  /*font-weight: 700;*/
  line-height: 30px;
  text-align: center;
  color: #F8F8FF;
  text-decoration: none;
  border-radius: 9px;
  background-color: #454340
}