h1.style {
    color: #fff;
    text-align: center;
    font-family: "Corben", Georgia, Times, serif;
}

h2 {
    text-align: center;
    font-family: "Corben", Georgia, Times, serif;
    color: #6F7C7F;
}

body {
  background-color: #91E5FF;
  /*margin: 0;*/
  /*padding: 0;*/
}

ul {
    float: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background: rgba(255,255,255,0.8)*/
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #293634;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #F8F8FF;
}

li a.active {
    color: white;
    background-color: #6F7C7F;
}

a{
  font-weight: bold;
}

form{
  text-align: center;
}

.input {
  width: 50%;
  margin: 10px 0 10px 0;
  height: 20px;
}

.inputtext{
  margin-top: 10px;
  resize: vertical;
  width: 50%;
}

.submit{
  border-radius: 20px;
  background-color: #fff;
  margin-top: 10px;
  font-size: 15px;
}


article {
  margin: auto;
  width: 75%;
  /*background: rgba(255,255,255,0.8)*/
  background-color: #fff;
  margin-top: 30px;
  padding-top: 5px;
}

article.bestemming {
    width: 70%;
    height: 60%;
    padding: 10px;
    border-color: aqua;
    border-style: solid;
}

p {
  text-align: center;
  font-family: Calibri;
  color: #293634;
}

.wrap {
  overflow: hidden;
  margin: 10px;
}
div.nextToImage {
    float: right;
    position: relative;
    width: 45%;
}

.box {
  float: left;
  position: relative;
  width: 50%;

}

.boxInner {
  position: relative;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
  /*border-radius: 15px;*/
  /*background: rgba(0,0,0,1.0);*/
  /*margin: 1%;*/

}

.boxInner img {
  opacity: 0.7;
  max-width: 100%;
  height: auto;
  border-radius: 18px;
}

.boxInner img:hover {
  opacity: 1.0;
}

.boxInner p {
  font-family: "Corben", Georgia,Times, serif;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  font-size: 300%;
  font-weight: bold;
}

h3 {
    position: absolute;
    bottom: 20%;
    left: 5px;
}

@media only screen and (max-width : 480px) {
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
  }
  .boxInner p {
    font-size: 100%;
  }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
  }
  .boxInner p {
    font-size: 100%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 50%;

  }
  .boxInner p {
    font-size: 100%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;

  }
  .boxInner p {
    font-size: 100%;
  }
}







